<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../assets/css/index.css">
</head>
<body>
    <h1>{{pageTitle }}</h1>
        <h2>{{subTitle }}</h2>

    <h1>Zajęcia NODEJS</h1>

<h2>
    14.02.2021
</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae perspiciatis quibusdam earum dignissimos dolor modi alias totam praesentium adipisci iste eius, officia porro, quam excepturi doloremque, magnam esse incidunt nihil.</p>

<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
</ul>

<div>siemka</div>

<form action="">
        <input type="text" id="salary" placeholder="wprowadź swoją wypłatę netto">
        <button id="getSalary">Wyślij</button>
        <p id="result"></p>
    </form>

<script src="./../js/func.js"></script>

</body>
</html>